.name-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* This should create three columns */
  justify-content: center;
  align-items: start;
  gap: 4rem; /* Adjust the gap to ensure proper spacing */
  padding: 1rem;
  margin-top: 3vw;
  margin-bottom: 3vw;
  margin-left: 2vw;
  width: 100%;
}

.name-row {
  width: 100%; /* Ensure full width to maintain grid structure */
}

.designer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;  // Start invisible
  transform: translateY(50px);  // Start slightly below the normal position
  transition: opacity 1s ease-out, transform 1s ease-out;
  cursor: pointer; /* Indicates the card is clickable */
}

.designer-card:hover .designer-headshot {
  transform: scale(1.05); /* Zooms in the image slightly */
  transition: transform 0.3s ease; /* Smooth transition for the transform */
}
.designer-card.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.designer-headshot {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease; /* Ensures smooth zoom effect */
}

.designer-name {
  font-family: "Arial Black", Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
}

@media (max-width: 950px) {
  .designer-name {
    font-size: 12px;

  }
  .designer-headshot {
    width: 110%;

  }
  .designer-card {
    width: 100%;
  }
  .name-display {
    margin-left: .5vw;
    margin-right: 5vw;
    grid-template-columns: repeat(2, 1fr); /* Adjusts to two columns below 950px */
  }
}
