$background-shadow: 0 2px 14px 0 rgba(0,0,0,0.3);


.template-four-container {
  margin-top: 4.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around; // This will distribute space around all items evenly
  align-items: flex-start;

  .image-wrapper {
    display: flex;
    flex-wrap: wrap; // Allows items to wrap if needed
    justify-content: space-around; // Distribute space evenly within the wrapper

    .column-type1,
    .column-type2 {
      flex: 1; // Each column takes up 1 part of the space
      margin-bottom: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .square,
      .rectangle {
        margin-bottom: 3.3vh;
        img {
          width: 12vw;
          height: 18vh;
          box-shadow: $background-shadow;
          
        }
      }

      .square{
        img{
          min-height: 24vh;
        }
      }

      .rectangle {
        perspective: 1000px;
        width: 12vw;
        height: 71vh;
        cursor: pointer;
        img {
          width: 12vw;
          height: 71vh;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: $background-shadow;
        }
        .flip-container {
          width: 100%;
          height: 100%;
          position: relative;
        }

        .flipper {
          transition: transform 0.6s;
          transform-style: preserve-3d;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        .back {
          transform: rotateY(180deg);
        }

        .flipped .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    .column-type1 {
      .rectangle {
        order: 2;
      }
    }

    .column-type2 {
      .square {
        order: 2;
      }
    }
  }

  .video-container {
    flex: 2.5; // The video container takes up 2 parts of the space, twice as much as each column
    max-height: 120vh; // This sets the maximum height the video can have
    min-height: 50vh; // This sets a minimum height to ensure it doesn't become too small
    margin-bottom: 5.5vh; // Consistent bottom margin outside of media query
    overflow: hidden;
    position: relative;
    box-shadow: $background-shadow;
    aspect-ratio: 16 / 9; // Maintain a 16:9 aspect ratio

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; /* Adjusted for better centering */
    }
  }


  
  // Media query for smaller screens

  @media (max-width: 950px) {
    // Adjust the pixel value as needed
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      flex: 1 0 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column-type1,
      .column-type2 {
        width: calc(25% - 6vw);
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 12px;

        .square,
        .rectangle {
          margin-bottom: 3.3vh;
          img {
            width: 20vw;
            height: auto;
            box-shadow: $background-shadow;
          }
        }
        .rectangle {
          width: 20vw;
          height: 41vh;
          img {
            width: 20vw;
            height: 41vh;
            box-shadow: $background-shadow;
          }
        }
      }

      .column-type1 {
        .rectangle {
          order: 2;
        }
      }

      .column-type2 {
        .square {
          order: 2;
        }
      }
    }

    .video-container {
      flex: 0 0 auto;
      width: 88vw; // Adjust the size as needed
      height: 55vw;
      margin-bottom: 2vh;

      video {
        width: 100%;
        height: 100%;
        object-position: center 20%;
      }
    }
  }
}