$background-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);

.template-five-container {
  margin-top: 3.5vh;
  margin-right: 2.5vh;

  @media (max-width: 950px) {
    margin: .5vh;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-around; // This will distribute space around all items evenly
  align-items: flex-start;

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    80% {
      opacity: 1;
    } // The overlay will start fading out after 4 seconds
    100% {
      opacity: 0;
    }
  }

  .image-wrapper {
    display: flex;
    flex-wrap: wrap; // Allows items to wrap if needed
    justify-content: space-around; // Distribute space evenly within the wrapper

    .column-type1,
    .column-type2,
    .column-type3 {
      flex: 1; 
      margin-bottom: 1.5vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 950px) {
        margin: 1.5vh;
      }

      @media (max-width: 550px) {
        margin: .2vh;
      }


      .rectangle {
        margin-bottom: 3.3vh;
        
        img {
          width: 12vw;
          height: 18vh;
          
          box-shadow: $background-shadow;
        }
      }


      .rectangle {
        position: relative;
        perspective: 1000px;
        width: 12vw;
        height: 71vh;
        cursor: pointer;
        // Overlay and icon wrapper
        .arrow-icon-wrapper {
          position: absolute;
          right: -15px;
          bottom: -165px;
          width: 35px;
          height: 35px;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
          opacity: 0; // start hidden
          visibility: hidden; // start fully hidden
          transition: opacity 0.5s ease, visibility 0.5s ease;
        
          &.visible {
            opacity: 1;
            visibility: visible;
          }

          @media (max-width: 950px) {
            width: 10px;
            height: 10px;
            right: 5px;
            bottom: 5px;        
          }
        }

        // Arrow icon specific styling
        .arrow-icon {
          width: 25px; // Independently adjustable size of the arrow
          height: 25px; // Independently adjustable size of the arrow
          @media (max-width: 950px) {
            width: 10px;
            height: 10px;      
          }
        }
        img {
          width: 14vw;
          height: 95vh;
          max-height: 95vh;

          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: $background-shadow;
        }
        .flip-container {
          width: 100%;
          height: 100%;
          position: relative;
        }

        .flipper {
          transition: transform 0.6s;
          transform-style: preserve-3d;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        .back {
          transform: rotateY(180deg);
        }

        .flipped .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    .column-type1 {
      .rectangle {
        order: 2;
      }
    }

    .column-type3{
        margin-left: 4vh;
    }

  
  }


  // Media query for smaller screen

  @media (max-width: 950px){
    flex-direction: column;
    align-items: center;
  
    .image-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; // This helps in spacing out the columns
  
      .column-type1,
      .column-type2 {
        width: calc(50% - 2vw); // Adjust width calculation for better responsiveness
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1vw; // Add horizontal padding to create space between columns
  
        .square,
        .rectangle {
          img {
            width: 100%; // Ensure images use the full width of their container
            height: auto; // Maintain aspect ratio
            box-shadow: $background-shadow;
          }
        }
        
        .rectangle {
          width: 15vw;
          height: 41vh; // Fixed height for rectangles
          img {
            height: 100%; // Ensure images use the full height of their container
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  
    .image-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; // This helps in spacing out the columns
  
      .column-type1,
      .column-type2 {
        width: calc(50% - 2vw); // Adjust width calculation for better responsiveness
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1vw; // Add horizontal padding to create space between columns
  
        .square,
        .rectangle {
          img {
            width: 100%; // Ensure images use the full width of their container
            height: auto; // Maintain aspect ratio
            box-shadow: $background-shadow;
          }
        }
        
        .rectangle {
          width: 20vw;
          height: 41vh; // Fixed height for rectangles
          img {
            height: 100%; // Ensure images use the full height of their container
          }
        }
      }
    }

  }
  
}
.page-navigator{
  margin-top: 1vw;
  margin-bottom: 4vw;
}

// Define styles for navigation link containers
.nav-link-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; // Ensure it's correctly positioned

  .link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, color 0.3s; // Smooth transformation and color change for hover effect

    &:hover {
      transform: scale(1.1);
      color: #5085c0;

      p {
        color: inherit; // Ensure paragraphs inherit the hover color
      }
    }

    p {
      margin-bottom: 0;
      margin-top: 0;
      &:last-child {
        margin-top: 4px;
      }
    }
  }

  // Ensure the first child also has no issues with margin or overlapping
  &:first-child {
    .link {
      z-index: 1; // Ensure it's on top and not covered by any previous elements

      &:hover {
        transform: scale(1.1);
        color: #5085c0;
      }
    }
  }

  .arrow-icon {
    margin-right: 8px; // Right margin for left arrow
    &.right {
      margin-left: 8px; // Left margin for right arrow
    }
  }
}

// Special styling for the "Home" link to make it stand out
.home-link {
  flex: 1.5;
  margin: 0 -45vw; // Adjust margin if it's causing overlap
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    z-index: 1; // Ensure it's on top and not covered by any previous elements
    text-decoration: none;
    color: black; // Set the default color to black
    transition: transform 0.3s, color 0.3s;

    &:hover {
      transform: scale(1.1);
      color: #5085c0; // Change to this color on hover
    }
  }

  @media(max-width: 650px){
    flex: 1.5;
    margin: 0 20px;
  }
  @media(max-width: 450px){
    flex: 1.5;
    margin: 0 10px;
  }
}

// Flex container for overall alignment
.nav-links-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


