//imagecarousel.scss



.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100vw; // Ensures the container doesn't exceed the viewport width
  font-family: "Arial Black", Arial, sans-serif;
  @media (max-width: 480px) {
    height: 12vh;

  }
}

.carousel-slider {
  display: flex;
  position: relative;
  left: 0;
}

.carousel-image {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  @media (max-width: 480px) {
    height: 12vh;
  }
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
  z-index: 1; 
}


.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
  width: 80%; // Adjust based on how much width the text should occupy
  max-width: 500px; // Prevents the text box from becoming too wide on large screens
  padding: 10px;

  p {
    font-size: calc(1em + 1vw); // Example of making font size responsive
    margin: 0;
    white-space: nowrap; // Prevents the text from breaking into multiple lines
    overflow: hidden; // Ensures that overflow text is not visible
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); // Moves the slider to the left, to the start of the second set of images
  }
}

.paused {
  animation-play-state: paused;
}
