

html,
body,
div,
img {
  margin: 0 ;
  padding: 0 ;
  border: 0 ;
  box-sizing: border-box;
  font-family: "Arial Black", Arial, sans-serif;

}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
  font-family: "Arial Black", Arial, sans-serif;


}