@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&display=swap');


@media(max-width: 450px){
  *{
    font-family: 'Kanit Black', sans-serif;
    font-weight: 900;  /* Kanit Black */

  }
}


html,
body,
div,
img {
  margin: 0 ;
  padding: 0 ;
  border: 0 ;
  box-sizing: border-box;
  font-family: "Arial Black", Arial, sans-serif !important;

}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
  font-family: "Arial Black", Arial, sans-serif !important;


}