$background-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
// box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4); Old shadow just incase

.template-one-container {
  margin-top: 4.5vh;
  display: flex;
  flex-direction: row;

  .rectangle.with-overlay .overlay {
    opacity: 0;
    animation: fadeInOut 5s forwards; // Updated time for a slower fade-out
  }

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    80% {
      opacity: 1;
    } // The overlay will start fading out after 4 seconds
    100% {
      opacity: 0;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Arial Black", Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    transform: rotateY(
      180deg
    ); // Rotate the overlay text to appear correctly on the flipped side
    @media (max-width: 950px) {
      font-size: 1rem;
    }
  }

  .image-wrapper {
    flex: 1 0 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 1vh;
    padding-left: 1vh;

    .column-type1,
    .column-type2 {
      width: calc(25% - 1vw);
      margin-bottom: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .square,
      .rectangle {
        margin-bottom: 3.3vh;
        .arrow-icon-wrapper {
          position: absolute;
          right: 10px;
          bottom: 10px;
          width: 35px;
          height: 35px;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 200;
          opacity: 0; // start hidden
          visibility: hidden; // start fully hidden
          transition: opacity 0.5s ease, visibility 0.5s ease;
  
          @media (max-width: 950px) {
            width: 15px;
            height: 15px;
          }
  
          &.visible {
            opacity: 1;
            visibility: visible;
          }
        }
  
        // Arrow icon specific styling
        .arrow-icon {
          z-index: 200;
  
          width: 25px; // Independently adjustable size of the arrow
          height: 25px; // Independently adjustable size of the arrow
          @media (max-width: 950px) {
            width: 12px;
            height: 12px;
          }
        }
        img {
          width: 12vw;
          height: auto;
          // box-shadow: 0px 0.4vw 0.6vw rgba(0, 0, 0, 0.4);
          box-shadow: $background-shadow;
        }
      }

      .square{
        img{
          min-height: 24vh;
          @media(max-width: 950px){
            min-height: 12vh;
          }
        }
      }

      .rectangle {
        position: relative;
        perspective: 1000px;
        width: 12vw;
        height: 71vh;
        cursor: pointer;

        img {
          width: 12vw;
          height: 71vh;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: $background-shadow;
        }
        .flip-container {
          width: 100%;
          height: 100%;
          position: relative;
        }

        .flipper {
          transition: transform 0.6s;
          transform-style: preserve-3d;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front,
        .back {
          backface-visibility: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        .back {
          transform: rotateY(180deg);
        }

        .flipped .flipper {
          transform: rotateY(180deg);
        }
      }
    }

    .column-type1 {
      .rectangle {
        order: 2;
      }
    }

    .column-type2 {
      .square {
        order: 2;
      }
    }
  }

  .video-container {
    flex: 2;
    max-height: 98vh;
    margin-bottom: 5vh;
    overflow: hidden;
    position: relative;
    box-shadow: $background-shadow;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 20%;
    }
  }

  // Media query for smaller screens

  @media (max-width: 950px) {
    // Adjust the pixel value as needed
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      flex: 1 0 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column-type1,
      .column-type2 {
        width: calc(25% - 6vw);
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px;

        .square,
        .rectangle {
          margin-bottom: 3.3vh;
          img {
            width: 20vw;
            height: auto;
            box-shadow: $background-shadow;
          }
        }
        .rectangle {
          width: 20vw;
          height: 41vh;
          img {
            width: 20vw;
            height: 40.6vh;
            box-shadow: $background-shadow;
          }
        }
      }

      .column-type1 {
        .rectangle {
          order: 2;
        }
      }

      .column-type2 {
        .square {
          order: 2;
        }
      }
    }

    .video-container {
      flex: 2;
      max-height: 100vh;
      margin-left: 5vw; // Uniformly adjust margins if needed
      margin-right: 5vw; // Added to balance the video positioning
      width: 75vw; // Adjust the size as needed
      height: 120vh;
      grid-column: 1 / -1; // Stretch video across all columns
      overflow: hidden;
      position: relative;
      box-shadow: $background-shadow;
  
      video {
        width: 100%; // Ensure video fills the container
        height: 100%; // Maintain aspect ratio
        object-fit: cover; // Ensure the video covers the full area without distortion
        box-shadow: $background-shadow;
      }
    }
  }
}


.page-navigator {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust margin as needed */
  margin-bottom: 30px;
  @media(max-width: 950px){
    margin-top: 5px;
  }
}

.designer-link {
  color: black;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 20px; /* Adjust font size as needed */
  margin: 0 50px; /* Adjust spacing between links */
  text-decoration: none;
  transition: transform 0.2s ease;
  &:hover {
    color: #5085C0; /* Changes color to a nice blue on hover */
    transform: scale(1.1); /* Scale up the link slightly on hover */
  }
  @media(max-width: 950px){
    font-size: 12px;
    margin: 0 20px; /* Adjust spacing between links */

  }
}
.designer-link:first-child::before {
  content: "< ";
}

.designer-link:last-child::after {
  content: " >";
}