$background-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); // Define the shadow as needed

.vertical-carousel-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 95vh; // Adjust based on the desired height of the carousel
    overflow: hidden;
}

.vertical-carousel-slider {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.vertical-carousel-image {
    display: block;
    width: 15vw;
    height: 25vh; // Using fixed height instead of min-height for consistent sizing
    object-fit: cover;
    box-shadow: $background-shadow;
    margin: auto;
}

@keyframes vertical-slide {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-112vh); // Adjusted to account for 4 images + 3 gaps
    }
}

.carousel-paused {
    animation-play-state: paused;
}
